html, body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* Transition for the dark theme */
    transition: .3s ease-in-out;
}

/* Header text regular */
.reg {
    font-weight: 300;
}

h1 {
    font-size: 5vw;
    margin: 0;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
    font-weight: 400;
}

main {
    margin: 5% 10%;
}

button {
    border: none;
    outline: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.intro {
    margin-bottom: 2.5em;
}

.mail-btn {
    border-radius: 8px;
    font-size: 2vw;
    padding: 1vw;

    color: #fc7422;
    background-color: #f2f2f2;
}

.mail-btn, img {
    transition: .3s ease-in-out;
}

.mail-btn:hover {
    color: white;
    background-color: #fc7422;
}

.recent-work {
    color: slategray;
    margin-bottom: 0;
    font-weight: 700;
}

/* Temp fix for img size */
img {
    max-width: 100%;
    border-radius: 8px;
}

img:hover {
    opacity: .7;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "flickpick jordakoes";
}
/* Fix for centering the portfolio image in the wrapper */
.jordakoes a, .flickpick a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flickpick {
    grid-area: flickpick;
}

.jordakoes {
    grid-area: jordakoes;
}

.jordakoes, .flickpick {
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

/* Typewriter styling */
.Typewriter__wrapper{
    font-weight: bold;
    color: #fc7422;
}
.Typewriter__cursor{
    color: #202020;
}

/* Darkmode test */
.dark {
    background-color: #111517;
    transition: .3s ease-in-out;
}

.dark-text {
    color: #f2f2f2;
    transition: .3s ease-in-out;
}

.dark-btn {
    background-color: #202020;
}

.dark-cursor {
    color: #f2f2f2;
}

.dark-portfolio-bg {
    background-color: #202020;
    transition: .3s ease-in-out;
}

/* Styling of the dark switch */
#switch {
    visibility: hidden;
    position: absolute;
  }

.switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.5s all ease;
    background-color: #f2f2f2;
}

.toggle {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #fc7422;
    position: absolute;
    left: 5px;
    transition: 0.5s all ease;
}

#switch:checked ~ .switch-label {
    transition: 0.5s all ease;
    background: #fc7422;
    border: none;
}
  
#switch:checked ~ .switch-label .toggle {
    transform: translateX(30px);
    transition: 0.7s all ease;
    background: #f2f2f2;
}

@media only screen and (max-width: 1200px) {
    #portfolio {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "flickpick"
        "jordakoes";
    }
    h1 {
        font-size: 50px;
        margin: 0;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }

    .mail-btn {
        font-size: 30px;
        padding: 1vw;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 15% 10%;
    }

    .mail-btn {
        padding: 2vw;
    }
}