html, body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* Transition for the dark theme */
    transition: .3s ease-in-out;
}

/* Header text regular */
.reg {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

h1 {
    font-size: 5vw;
    margin: 0;
}

h2 {
    font-size: 3.5vw;
}

h3 {
    font-size: 2.5vw;
    font-weight: 400;
}

main {
    margin: 10% 20%;
}

button {
    border: none;
    outline: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.intro {
    margin-bottom: 2.5em;
}

.mail-btn {
    border-radius: 8px;
    font-size: 1.5vw;
    padding: 1vw;

    color: #fc7422;
    background-color: #f2f2f2;
}

.mail-btn, img {
    transition: .3s ease-in-out;
}

.mail-btn:hover {
    color: white;
    background-color: #fc7422;
}

.recent-work {
    color: slategray;
    margin-bottom: 0;
    font-weight: 700;
}

/* Temp fix for img size */
img {
    max-width: 100%;
    border-radius: 8px;
}

img:hover {
    opacity: .7;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: 
    "paperpool paperpool"
    "flickpick jordakoes";
}


/* Fix for centering the portfolio image in the wrapper */
.jordakoes a, .flickpick a, .paperpool a {
    display: flex;
    align-items: center;
    /* justify-content: start; */
    /* Fix for centering the smaller
    portfolios */
    height: 100%;
}

/* TODO: Check the function of this class... */
.test { 
    display: flex;
    align-items: center;
    justify-content: start;
}

.flickpick {
    grid-area: flickpick;
}

.jordakoes {
    grid-area: jordakoes;
}

.paperpool {
    grid-area: paperpool;
}

.jordakoes, .flickpick, .paperpool {
    padding: 3vw;
    background-color: #f2f2f2;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

/* How we work section */
.discuss h3, .design h3, .develop h3, .deploy h3 {
    margin-bottom: 0;
    font-weight: bold;

    /* font-size: 50px */
}

.brand-color {
    color: #fc7422;
}

.fix-pagin {
    display: flex;
    margin: 0;
}
#first-word {margin: 5% 0 0 0;
}
#second-word { margin: 5% 0 0 20px}

.discuss p, .design p, .develop p, .deploy p {
    margin-top: 0;
    /* TODO: Check if this needs vw */
    font-size: 30px;
}

/* .design, .deploy {
    text-align: end;
} */

.process-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: 
    "discuss design" 
    "develop deploy";
  }
  
  .discuss { grid-area: discuss; }
  
  .design { grid-area: design;}
  
  .develop { grid-area: develop; }
  
  .deploy { grid-area: deploy; }

#typewriter {
    color: #fc7422;
}

/* Darkmode test */
.dark {
    background-color: #111517;
    transition: .3s ease-in-out;
}

.dark-text {
    color: #f2f2f2;
    transition: .3s ease-in-out;
}

.dark-btn {
    background-color: #202020;
}

.dark-cursor {
    color: #f2f2f2;
}

.dark-portfolio-bg {
    background-color: #202020;
    transition: .3s ease-in-out;
}

/* Styling of the dark switch */
#switch {
    visibility: hidden;
    position: absolute;
  }

.switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.5s all ease;
    background-color: #f2f2f2;
}

.toggle {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #fc7422;
    position: absolute;
    left: 5px;
    transition: 0.5s all ease;
}

#switch:checked ~ .switch-label {
    transition: 0.5s all ease;
    background: #fc7422;
    border: none;
}
  
#switch:checked ~ .switch-label .toggle {
    transform: translateX(30px);
    transition: 0.7s all ease;
    background: #f2f2f2;
}

@media only screen and (max-width: 1200px) {
    #portfolio {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "paperpool"
        "flickpick"
        "jordakoes";
    }

    .process-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 40px;
        grid-template-areas: 
        "discuss"
        "design" 
        "develop" 
        "deploy";
    }

    h1 {
        font-size: 45px;
        margin: 0;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }

    .mail-btn {
        font-size: 30px;
        padding: 1vw;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 15% 10%;
    }

    .mail-btn {
        padding: 2vw;
    }
}