html, body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 5vw;
    margin: 0;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
    font-weight: 400;
}

main {
    margin: 5% 10%;
}

button {
    border: none;
    outline: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.intro {
    margin-bottom: 2.5em;
}

.mail-btn {
    border-radius: 8px;
    font-size: 2vw;
    padding: 1vw;

    color: #fa7362;
    background-color: #f2f2f2;
}

.mail-btn, img {
    transition: .3s ease-in-out;
}

.mail-btn:hover {
    color: white;
    background-color: #fa7362;
}

.recent-work {
    color: slategray;
    margin-bottom: 0;
    font-weight: 700;
}

/* Temp fix for img size */
img {
    max-width: 100%;
    border-radius: 8px;
}

img:hover {
    opacity: .7;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "flickpick jordakoes";
}

.flickpick, .jordakoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flickpick {
    grid-area: flickpick;
}

.jordakoes {
    grid-area: jordakoes;
}

/* Typewriter styling */
.Typewriter__wrapper{
    font-weight: bold;
    color: #fa7362;
}
.Typewriter__cursor{
    color: #202020;
}

@media only screen and (max-width: 1200px) {
    #portfolio {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "flickpick"
        "jordakoes";
    }
    h1 {
        font-size: 50px;
        margin: 0;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }

    .mail-btn {
        font-size: 30px;
        padding: 1vw;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 15% 10%;
    }

    .mail-btn {
        padding: 2vw;
    }
}